---
http_interactions:
- request:
    method: get
    uri: https://redbooth.com/api/3/task_lists/?access_token=89b6aa954099798ab112e4cc6038694707277b16a75e3483e862271ad0d33459
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="89b6aa954099798ab112e4cc6038694707277b16a75e3483e862271ad0d33459"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 19 Oct 2014 23:54:44 GMT
      Paginationcurrentpage:
      - '1'
      Paginationlinks:
      - <https://redbooth.com/api/3/task_lists?access_token=89b6aa954099798ab112e4cc6038694707277b16a75e3483e862271ad0d33459&page=1>;
        rel="last">
      Paginationperpage:
      - '30'
      Paginationtotalpages:
      - '1'
      Status:
      - 200 OK
      X-Redbooth-From-Cache:
      - 'true'
      X-Redbooth-Updated-At:
      - '1413762884381'
    body:
      encoding: UTF-8
      string: '[{"type":"TaskList","created_at":1412597858,"updated_at":1412597858,"id":2581036,"name":"Tasks","project_id":1297712,"user_id":988055,"start_on":null,"finish_on":null,"position":0,"archived":false,"archived_tasks_count":0,"tasks_count":0,"last_comment_id":null,"updated_by_id":null,"metadata":{},"deleted":false,"completed_at":null}]'
  recorded_at: Mon, 20 Oct 2014 03:57:45 GMT
recorded_with: VCR 2.9.3
